* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd681;
}

header nav {
    margin-right: 20px;
    flex: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
    display: inline;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: auto;
    margin-bottom: 25px;
    background-image: url("../images/photo.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    margin-left: 20px;
    flex: 3;
    justify-content: space-between;
}

article {
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2a607c;
    display: flex;   
    flex-wrap: wrap;
}

article h2 {
    font-size: 36px;
    text-align: right;
    vertical-align: top;
    flex: 1;
}

article .about_text, .work, .contact{
    margin-left: 20px;
    padding-left: 20px;
    border-left: 5px solid;
    flex: 3;
}

.work .main_tile {
    border: 0.25em var( #2a607c) solid;
    padding: 1em 1em 1em 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), 
                                      rgba(0, 0, 0, 0.6));
    background-size: cover;
    height: 20em;
    width: 100%;
    display: flex
}

.work .tile {
    border: 0.25em var( #2a607c) solid;
    padding: 1em 1em 1em 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), 
                                      rgba(0, 0, 0, 0.6));
    background-size: cover;
    height: 12em;
    width: 33%;
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
}

.label {
    background-color: #2a607c;
    align-self: flex-end;
    color: #ffffff;
}

.label p {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 5px solid;
    flex: 3;
}

.contact {
    flex: 3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #2a607c;
    display: flex;
   
}

.contact ul {
    list-style-type: none;
    color: #2a607c;
    justify-content: space-evenly;
    align-items: center;
    display: inline;
}

.contact ul li {
    display: inline-block;
    padding-right: 20px;
}

.contact a {
    display: inline-block;
    color: #2a607c;
    font-size: 32px;
}

.contact a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 992px) {
    header {
        flex-direction: column;
    }
    ul {
        padding: 0;
        flex-wrap: nowrap;   
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    ul {
        padding: 0;
        flex-wrap: nowrap;   
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}